body{
    background-color:#FCF4A3
}
h1 {
    color: navy;
    font-family: Tahoma
}
p{
    color:black;
    font-family:Tahoma
}
a:visited {
    color: navy;
    text-decoration: blink;
}

a:active {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: underline
}

a {
    font-family: Tahoma;
    color: #0000CC;
    font-weight:bold
}
#red{
    color:red;
}